body{
    background-image: linear-gradient(to right, #7fffd4 -11.28%, #b0ffe5 87.83%);
            background-size: 500% 100%;
            animation-name: degrade;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @keyframes degrade{
            0%{
                background-position-x: 0%;
            }
            100%{
                background-position-x: 100%;
            }
}

.imagem-logo{
    width: 7%;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
}

.cabecalho-telefone{
    display: inline-block;
    margin: 0 16;
    font-size: 20px;
}

.imagemcatsdog{
    width: 15%;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.sobre-div-conteudo{
    width: 35%;

}

.sobre-titulo{
    padding: 20px 0;
}

.alana-dog{
    width: 120px;
}

.pets-div{
    text-align: center;
}

.adocao-titulos{
    text-align: center;
    padding: 50px 0; 
}

.adocao-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
